
<body>
  
  <div class="wrapper">
    
      <h1><b>Gestion des ruches - Ajouter une ruche</b></h1>
      <hr>
      
        <form class="form-add" [formGroup]="rucheForm" (ngSubmit)="submit()">

          
          <legend><b>Ajouter une ruche </b></legend><br>

          <div class="myForm">
          
            <div class="mdp">
              <label >Identifiant : </label>
              <label >Nombre de cadres : </label>
              <label >Récolteur :</label>
              <label >Vulnérabilité :</label>
            </div>

            <div class="mdp">
              <input name="id" type="number" readonly [(ngModel)]="cetteRuche.id">
              <input name="cadres" type="number" [(ngModel)]="cetteRuche.cadre" >
              <select name="recolteur" *ngFor="let ruche of list()">
                <option value="">{{ruche.id}}</option>
                <option value="">Recolteur - 2</option>
              </select>
              <select name="vulnérabilité" >
                <option value="">Peste</option>
                <option value="">Coléra</option>
              </select>
            </div>
            

            <input type="button" class ="btn1" value="Annuler">
            <input type="button" class ="btn2" type="submit" value="Sauvegarder">
            
          </div>
          


        </form>
      </div>

    

</body>