@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
* {
  margin: 0;
}

h2 {
  font-style: 'Poppins';
  color: #2B414F;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_message_top {
  height: 500px;
  background-image:url("/assets/home_gestionnaire/couverture-bee.jpg");
  background-size :cover;
  position: relative;
}

.home_box_message {
  width: 50%;
  height: 30%;
  padding: 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.6); /* white with 60% opacity */
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* add flex display */
  flex-direction: column;
   /* make .home_box_message appear on top of .home_message_top */
}
.message_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* align items to the top */
  flex-direction: column;
  text-align: left; /* align text to left */
  flex-grow: 1;
}
.message_content .top .left .icon {
  width: 50px;
  height: 50px;
}

.message_content .top,
.message_content .bot {
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* align buttons to right */
  flex-grow: 1;
  flex-direction: row;
}
.message_content a {
  font-weight: bold;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center; /* change this line to center align */
  flex-basis: 50%;
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  font-weight: bold;
}

.right{
  display: flex;
  justify-content: center; /* change this line to center align */
  flex-basis: 50%;
}

.message_content .left {
  margin-right: 10px;
}
.message_content a,
.message_content p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
  height: 45px;
  border : none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #33658A;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}



.home_button_bot {
  height: 50%;
  width: 100%;
  background-color: #EDE8EC;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin : 0px;
  text-align: center;
}


.box-container {
  width : 30%;
  position: relative;
  display : flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img_box{
  display: inline-block;
  border-radius: 30px;
  background-color: #F6AE2D;
  margin : 10%;
  width : 30%;
  padding: 7%;
  cursor: pointer;
  margin-bottom: 10px;

}

.img_box img {
  max-width: 100%;
}

#button_bot {
  width : 45%;
}
#button_top {
  width : 10%;
  padding: 2% 7%;
}

.wrapper {
  display: flex;
  /* adjust padding and margin as needed */
  padding-bottom: 50px;
}

footer {
  height: 50px; /* adjust height as needed */
  background-color: #2B414F; /* adjust color as needed */
  font-family: 'Glacial Indifference';
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.page-padding-bottom {
  padding-bottom: 50px; /* or any other value you want */
}