/* Police */
@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-block:auto;
 
}


#page {
  display: flex;
  flex-wrap: nowrap;
  /* height: 1080px; */
 /*  padding-bottom: 50px;  *//* Add the height of the footer as padding to the bottom */
 overflow-block:auto;
}

#router {
  flex-grow: 1;
  background-color: #EDE8EC ;
  min-height: calc(100vh - 45px); /* Subtract the height of the footer from the viewport height */
  overflow-y: auto;
  
}

.router {
  flex-grow: 1;
}

#footer {
  flex-shrink: 0;
}
  
  #navbar {
    flex-shrink: 0;
    width: 13%;
    order:-1;
    background-color:#2b414f;
    height: 105vh;
    min-width: 225px;
  }