@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

* {
  margin: 0;
}

/*Background Image sur la gauche*/
.imageLeft {
  background-image: url('/assets/connexion/imageLogin.jpg');
  background-size: cover;
  background-position: center;
  /* height: calc(100vh - 45px); */
  height: 100vh;
  width: 50%;
  float: left;
}

/*Block de droite*/
.RightBlock {
background-color: #EDE8EC;
/* height: calc(100vh - 45px); */
height: 100vh;
width: 50%;
float: left;
display: flex;
justify-content: center;
align-items: center;
}

.RightBlock img {
position: absolute;
/*position en hauteur*/
top: 15%;
transform: translateY(-50%);
width: 200px;
max-width: 400px; /* Adjust as needed */
}

.login-form {
  width: 400px;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.login-form label {
  display: block;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  text-align: left;
  position: relative;
  font-family: 'Poppins', sans-serif;;
  margin-left: 50px; /* add margin-left to align with input box */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-color: #33658A ;
  background-color: #EDE8EC;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login-form input[type="submit"] {
  position: absolute;
  bottom: calc(16%);;
  height: 45px;
  right: 20px;
  border : none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #33658A;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.login-form a {
  position: absolute;
  bottom: calc(9%);;
  right: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #F58F29;
  text-decoration: none;
  position: absolute;
  font-family: 'Poppins', sans-serif;
}

.wrapper {

  /* adjust padding and margin as needed */
  padding-bottom: 50px;
}

footer {
  height: 50px; /* adjust height as needed */
  background-color: #2B414F; /* adjust color as needed */
  font-family: 'Glacial Indifference';
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
