
#tableau-container
{
  width:100%;
  display:flex;
  flex-direction:column;
  padding-bottom: 75px;
}

h1{
  color:#f6ae2d;
  font-family: 'Poppins', sans-serif;
}

.menu
{
  position:relative;
  background-color:#2b414f;
  width:18%;
  height:800px;
}

.RightBlock {
  float: left;
  width: 82%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 // padding-bottom: 50px;
}

table {
 
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Glacial Indifference', sans-serif;
}

table thead {
  background: #F6AE2D;
  border-bottom: 2px solid #444444;
}

tbody {
  max-height: 6em;
  overflow-y: auto;   
}

thead,
tbody {
  display: block;  
} 

th, td {
  text-align: center;
  padding: 8px;


}

table tr:nth-child(even) {
  background: #cdd1db;
}

th {
  background-color: #f6ae2d;
  color:#2B414F;
  font-family: 'Glacial Indifference', sans-serif;
}

.edit-btn, .delete-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Glacial Indifference', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
.edit-btn {
  background-color: #f58f29;
}
.delete-btn {
  background-color: #f44336;
}
.add-btn {
  background-color: #f58f29;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 17px 2px;
  cursor: pointer;
  width:158px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}

