/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Glacial Indifference', sans-serif;
}

/* Tableau styles */
#tableau-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 75px;
}

h1 {
  color: #f6ae2d;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

tbody {
  max-height: 35em;
  overflow-y: auto;   
}

thead,
tbody {
  display: block;  
}

tr {
  display: flex;
} 

td, th {
  display: block; /* Needed for IE */
  width: 25%;
} 


table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

table thead {
  background-color: #f6ae2d;
  border-bottom: 2px solid #444444;
  color: #2B414F;
}

table th, table td {
  padding: 8px;
}

table th {
  font-family: 'Glacial Indifference', sans-serif;
}

table tr:nth-child(even) {
  background-color: #cdd1db;
}

.edit-btn, .delete-btn, .add-btn {
  background-color: #f58f29;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 14px;
  margin: 4px 2px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  width: 158px;
}

.edit-btn:hover, .delete-btn:hover, .add-btn:hover {
  background-color: #f47d24;
}

.delete-btn {
  background-color: #f44336;
}

/* Menu styles */
.menu {
  position: relative;
  background-color: #2b414f;
  width: 18%;
  height: 100%;
  float: left;
}

/* Right block styles */
.RightBlock {
  float: left;
  width: 82%;
  margin-left: 50px;
}
