<html>
<head>
  <title>Liste Ruches Gestionnaire</title>
</head>
<body>
  <div class="wrapper">
    <div class="RightBlock">
      
        <h1>Mes ruches</h1>
        <hr size="2" color=#f6ae2d width="100%"><br>
        <div class="tableau-container">
        <table>
          <thead>
            <tr>
              <th width="10%">Alerte</th>
              <th>Ruche id</th>
              <th>Nombre de cadres (couvains)</th>
              <th>Récolteur id</th>
              <th>Vulnérabilité</th>
              <th>Nourrissage</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let ruche of listR()">
              <td><span *ngIf="ruche.vulnerabilite else sinon"><img src="assets/listeRuche/alerte.png" alt="logo" width="15%"></span><ng-template #sinon><span></span></ng-template></td>
              <td>{{ruche.id}}</td>
              <td>{{ruche.cadre}}</td>
              <td>{{ruche.recolteur.id}}</td>
              <td>{{ruche.vulnerabilite}}</td>
              
              <td *ngIf="nourrissage(ruche.id); else noNourrissage">Nourriture insufisantes !</td>
              <ng-template #noNourrissage><td></td></ng-template>
              <td>
                <button (click)="goToEdit(ruche.id)" class="edit-btn">Modifier</button>
                <button *ngIf="allowed()" (click)="remove(ruche.id)" class="delete-btn">Supprimer</button>
                <button *ngIf="ruche.cadre > 5" (click)="Division(ruche.id)" class="divise-btn">Diviser</button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
          <button *ngIf="allowed()" (click)="goToAdd()" class="add-btn">Ajouter une ruche</button>
      
    </div>
  </div>
  <footer></footer>
</body>
</html>

