<div class="wrapper">
    <h1><b>Gestion des productions</b></h1>
    <hr>
    
      <form class="form-add" [formGroup]="prodForm" (ngSubmit)="save()">

       
        <legend *ngIf="!formValue.id else sinon"><b>Ajouter une production</b></legend><br>
        <ng-template #sinon><legend> <b> Modifier la production n° {{prodForm.get('id').value}} </b></legend></ng-template>

        <div class="myForm">
          <div class="mdp">            
            <label  class="label-wrapper">Quantité : </label>              
            <label>Année :</label>     
            <label>Ruche id :</label>   
            <label>Prix au kg :</label>
            <label>Produit :</label> 
            <label>Récolteur id :</label>       
          </div>

          <div class="mdp">
            <div class="pkg" [ngClass]="{ 'has-error': prodForm.get('stock').dirty && prodForm.get('stock').errors && prodForm.get('stock').errors['required'] }">
              <input name="stock" type="number" formControlName="stock" [value]="prodForm.get('stock').value" class="form-input">
              <div *ngIf="prodForm.get('stock').dirty && prodForm.get('stock').errors && prodForm.get('stock').errors['required']"
                   class="alert alert-danger">
                <div class="error">La quantité est obligatoire.</div>
              </div>
            </div>
            
            <input name="annee" type="date" formControlName="annee" [value]="prodForm.get('annee').value">

            <select formControlName="rucheId">
                <option disabled selected value="">Sélectionner une ruche</option>
                <option *ngFor="let ruche of listRuches()" [value]="ruche.id">Ruche n°{{ruche.id}}</option>              
              </select>   

              <div class="pkg" [ngClass]="{ 'has-error': prodForm.get('prixKg').dirty && prodForm.get('prixKg').errors && prodForm.get('prixKg').errors['required'] }">
                <input name="prixKg" type="number" formControlName="prixKg" [value]="prodForm.get('prixKg').value" class="form-input">
                <div *ngIf="prodForm.get('prixKg').dirty && prodForm.get('prixKg').errors && prodForm.get('prixKg').errors['required']"
                     class="alert alert-danger">
                  <div class="error">Le prix au kg est obligatoire.</div>
                </div>
              </div>



            <select formControlName="produit">
              <option disabled selected value="">Sélectionner un produit</option>
              <option *ngFor="let produit of produit" [value]="produit">{{produit}}</option>
            </select>

            <select formControlName="recolteurId">
              <option disabled selected value="">Sélectionner un récolteur</option>
              <option *ngFor="let recolteur of listRecolteurs()" [value]="recolteur.id">Récolteur n°{{recolteur.id}} ({{recolteur.login}})</option>              
            </select>              
      
          </div>
        </div>

        <div *ngIf="(prodForm.get('stock').dirty || prodForm.get('prixKg').dirty || prodForm.get('annee').dirty) && (prodForm.get('stock').errors || prodForm.get('prixKg').errors || prodForm.get('annee').errors)" class="text-danger">
          <p *ngIf="prodForm.get('stock').dirty && prodForm.get('stock').hasError('required')">
            La quantité est obligatoire.
          </p>
          <p *ngIf="prodForm.get('stock').dirty && prodForm.get('stock').hasError('min')">
            La quantité doit être supérieure à 0.
          </p>
          <p *ngIf="prodForm.get('prixKg').dirty && prodForm.get('prixKg').hasError('required')">
            Le prix au kg est obligatoire.
          </p>
          <p *ngIf="prodForm.get('prixKg').dirty && prodForm.get('prixKg').hasError('min')">
            Le prix au kg doit être supérieur à 0.
          </p>
          <p *ngIf="prodForm.get('annee').dirty && prodForm.get('annee').hasError('required')">
            L'année est obligatoire.
          </p>
        </div>
        
        

        




        <div class="buttons">
          <input type="button" class ="btn1" value="Annuler" (click)="goToListProd()">
          <input type="button" class ="btn2" type="submit" value="Sauvegarder" [disabled]="prodForm.invalid" >
        </div>
          
      
          
          
    </form>
  </div>
  